.card
{
    height: 15rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
    width: 12rem;
    text-align: center;
    background: white;
    border: 7px solid lightblue;
    border-radius: 20px;
    padding: 0px 26px 2rem 26px;
}

.card>#img1
{
    transform: scale(0.41);
    border-radius: 20px;
    opacity: 60%; 
    height: 20rem;
    width: auto; 
}

.card>#img2
{
    margin-bottom: -50rem;
    border-radius: 20px;
}
@media screen and (max-width: 480px)
{
     .card
     {
        width: auto;
     }
}
