.nav
{
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: space-between;
  align-items: center;
}

.n-buttn {
  flex: 2;
}

.n-list {
  flex: 10;
}

.n-list > ul {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  margin-right: 1rem;
  cursor: pointer;
}

@media screen  and (max-width : 200px)
{
  .n-list
  {
    display: none;
  }
  .n-buttn
  {
    display: none;
  }
}