.nav
{
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
a
{
    font-weight: bold;
    text-decoration: none;
    padding-top: 1%;
    margin-left: 2%;
    padding:10px ;

}
a:hover
{
    font-weight: bold;
    
    animation-name: BlueBack;
    animation-duration: 1s;    
} 
@keyframes BlueBack {
    from {color:white;}
    to {color: rgb(54, 71, 223);}
}

.nav-btn{
  border: none;
  color:black;
  font-size: medium;
  font-weight: bold;
  width: 10%;
  font-size: 15px;
  padding: 5.5px;
  border-radius: 5%;
}

.nav-btn:hover{
   cursor: pointer;
   box-shadow: 3px 3px 3px gray;
   background-color: rgb(54, 71, 223);
   color: white;
}

